{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
  ],
  "plugins": [
    "import",
    "flowtype",
    "prettier",
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "no-unused-expressions": [2, { "allowShortCircuit": true }],
    "prettier/prettier": [2, "fb", "@format"],
    "no-console": [0],
    "no-bitwise": [0],
    "no-plusplus": [0]
  }
}

